---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
import Container from "../components/Container.astro";
import Article from "../components/Article.astro";
import ShareButtons from "../components/ShareButtons.astro";
import CTA from "../components/CTA.astro";

import { getAllPosts, getPost } from "../lib/api.js";

export async function getStaticPaths() {
  const posts = await getAllPosts();
  return posts.edges.map(({ node }) => {
    return {
      params: { slug: node.slug },
    };
  });
}

const { slug } = Astro.params;
const post = await getPost(slug);
const postBody = post.content;
---

<Layout>
  <Section>
    <Container>
      <div class="post--heading--wrapper">
        <h1 class="post--heading">{post.title}</h1>
        <p class="post--excerpt">{post.excerpt}</p>
        <!--         <img
          src={post.featuredImage.node.sourceUrl}
          alt={post.featuredImage.node.altText}
        /> -->
      </div>
    </Container>
  </Section>
  <Section>
    <Container>
      <div class="flex--center">
        <div class="article--wrapper">
          <Article set:html={post.content} />
          <ShareButtons />
        </div>
      </div>
    </Container>
  </Section>
  <CTA />
</Layout>

<style lang="scss">
  @import "../styles/variables.scss";

  .post--heading--wrapper {
    width: min(100%, 48.125rem);
    margin-inline: auto;
    text-align: center;
  }

  .post--heading {
    margin-bottom: map-get($spacing, "200");
  }

  .flex--center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .article--wrapper {
    display: inline-block;
    margin-inline: auto;
    padding: map-get($spacing, "600");
    background-color: $white;
    border: 1px solid map-get($neutrals, "50");
    border-radius: 0.25rem;
    box-shadow: 0 4px 6px -1px rgba($black, 0.1),
      0 2px 4px -2px rgba($black, 0.1);
  }
</style>
