---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
import Container from "../components/Container.astro";
import Search from "../components/Search.astro";
import PostCard from "../components/PostCard.astro";
import CTA from "../components/CTA.astro";

import { getAllPosts } from "../lib/api.js";
const posts = await getAllPosts();
---

<Layout>
  <Section>
    <Container>
      <div class="heading--wrapper">
        <h1 class="blog--heading">
          Welcome to the <span class="span">blog</span>
        </h1>
        <p class="blog--subheading">
          This blog will help you take your career and leadership challenges
          beyond the problems to find solutions. Come here not just to learn new
          ideas but to take action!
        </p>
        <Search />
      </div>
    </Container>
  </Section>
  <Section>
    <Container>
      <div class="post--card--wrapper">
        <!-- {posts.edges.map((post) => (
          <PostCard
            href={`/${post.node.slug}`}
            categories={post.node.categories.edges.node}
            title={post.node.title}
            excerpt={post.node.excerpt}
            src={post.node.featuredImage.node.sourceUrl}
            alt={post.node.featuredImage.node.altText}
          />
        ))} -->
      </div>
    </Container>
  </Section>
  <CTA />
</Layout>

<style lang="scss">
  @import "../styles/variables.scss";

  .blog--heading {
    margin-bottom: map-get($spacing, "400");
  }

  .blog--subheading {
    margin-bottom: map-get($spacing, "600");
  }

  .heading--wrapper {
    display: flex;
    flex-direction: column;
    justify-content: column;
    align-items: column;
    width: min(100%, 48.125rem);
    margin-inline: auto;
    text-align: center;
  }

  .post--card--wrapper {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-template-rows: repeat(9, minmax(0, 1fr));
    gap: map-get($spacing, "400");

    @media screen and (min-width: map-get($breakpoints, "md")) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-template-rows: repeat(5, minmax(0, 1fr));
    }

    @media screen and (min-width: map-get($breakpoints, "lg")) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
      grid-template-rows: repeat(3, minmax(0, 1fr));
    }
  }
</style>
