---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
import Container from "../components/Container.astro";
import DownloadCard from "../components/DownloadCard.astro";

import { getResourcesPageContent, getAllDownloads } from "../lib/queries.js";
const downloads = await getAllDownloads();

const resourcesPage = await getResourcesPageContent();
---

<Layout>
  <Section>
    <Container>
      <div class="heading--wrapper">
        <h1 class="resource--heading">
          Check out some free <span class="span">resources</span>
        </h1>
        <div class="resource--subheading" set:html={resourcesPage.content}>
        </div>
      </div>
    </Container>
  </Section>
  <Section>
    <Container>
      {downloads.edges.map((download) => (
        <DownloadCard
          title={download.node.title}
          body={download.node.content}
          img={download.node.featuredImage.node.sourceUrl}
          href={download.node.downloads.link}
        />
      ))}
    </Container>
  </Section>
</Layout>

<style lang="scss">
  @import "../styles/variables.scss";

  .resource--heading {
    margin-bottom: map-get($spacing, "400");
  }

  .heading--wrapper {
    display: flex;
    flex-direction: column;
    justify-content: column;
    align-items: column;
    width: min(100%, 48.125rem);
    margin-inline: auto;
    text-align: center;
  }

  .post--card--wrapper {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-template-rows: repeat(9, minmax(0, 1fr));
    gap: map-get($spacing, "400");

    @media screen and (min-width: map-get($breakpoints, "md")) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-template-rows: repeat(5, minmax(0, 1fr));
    }

    @media screen and (min-width: map-get($breakpoints, "lg")) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
      grid-template-rows: repeat(3, minmax(0, 1fr));
    }
  }
</style>
